#footer.bg--gray
	.container
			

		.row.mt--3
			.col-xs-4.col-xs-offset-4.text-center
				a(href="/")
					img.logo(src="img/logo/logo2-white.png")
		#footer-social.row.text-center
			ul
				li
					a(href="http://dataharvestco.tumblr.com/" rel="noopener" target="_blank")
						i.fa.fa-tumblr
				li
					a(href="https://www.linkedin.com/company/18058770/" rel="noopener" target="_blank")
						i.fa.fa-linkedin-square
		.row.text-center.mt--3
			.col-sm-12
				p.
					Made with love by #[a(href="http://www.4cc.co/") 4Creeks Creative] 2017
			
