section#footer.bg--gray
	.container
		.row
			.col-sm-6
				.col-sm-4
					h6 need help?
					a.block(href="#") FAQ'S
					a.block(href="#") SUPPORT
					a.block(href="#") LOCATIONS
				.col-sm-4
					h6 services
					a.block(href="#") MOBILE BANKING
					a.block(href="#") QUICK DEPOSIT
					a.block(href="#") PERSONAL SERVICE
					a.block(href="#") SAVINGS
					a.block(href="#") DEBIT / CREDIT CARDS
				.col-sm-4
					h6 join
					a.block(href="#") BECOME A MEMBER
					a.block(href="#") APPLY FOR A LOAN
			.col-sm-6
				.col-sm-4.float-right
					h6 call us
					a.block(href="#") (559) 737-2000
				
		.row.mt--3
			.col-sm-8
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit lorem, ornare ut sem in, pharetra placerat massa. Etiam facilisis nisi nec imperdiet suscipit. Cras malesuada leo non ligula tincidunt, sed tristique eros ultricies. Fusce faucibus neque ac dui tempus, et egestas lectus mattis. Praesent a quam mattis, maximus neque sit amet, faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ultrices a purus a pharetra. Morbi fermentum lobortis ex, vel ullamcorper risus tristique vitae. Nulla ornare elit sit amet mauris ultrices, nec ultricies dolor consequat. Suspendisse vel hendrerit erat. Quisque semper sem a odio vestibulum aliquam. In ut facilisis diam, sed fermentum enim. Aliquam posuere leo at dignissim cursus.

			.col-sm-4
				img.logo(src="img/logo/logo-full-dark.png")
