section#footer.bg--gray
	.container
		.row
			.col-sm-6
				.col-sm-4
					h6 need help?
					a.block(href="#") FAQ'S
					a.block(href="#") SUPPORT
					a.block(href="#") LOCATIONS
				.col-sm-4
					h6 services
					a.block(href="#") MOBILE BANKING
					a.block(href="#") QUICK DEPOSIT
					a.block(href="#") PERSONAL SERVICE
					a.block(href="#") SAVINGS
					a.block(href="#") DEBIT / CREDIT CARDS
				.col-sm-4
					h6 join
					a.block(href="#") BECOME A MEMBER
					a.block(href="#") APPLY FOR A LOAN
			.col-sm-6
				.col-sm-4.float-right
					h6 call us
					a.block(href="#") (559) 737-2000
				
		.row.mt--3
			.col-sm-12.text-center
				img.logo(src="img/logo/logo-color.png")
