#menu-overlay.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(data-toggle-class='#menu1, #menu-overlay;hidden-xs')
header
	.container.visible-xs
		.row(style="position:relative;")
			
			.text-right
				a.hamburger-toggle(href='#', data-toggle-class='#menu1, #menu-overlay;hidden-xs')
					i.icon.icon--sm.stack-interface.stack-menu

	
	nav#menu1.hidden-xs
		.text-right
			ul.menu-horizontal.text-left.text-center-xs
				li
					span 
						a(href="/") Home

				if contentful.tech.length > 0
					li.dropdown
						span.dropdown__trigger 
							a(href="/technology")
								| Technology
							ul.dropdown-menu.menu-vertical
								for item in contentful.tech
									li
										a(href='#{item._url}')= item.title
				else 
					li
						span
							a(href="/technology")
								| Technology
				li
					span 
						a(href="/partners")
							| Partners

				li
					span 
						a(href="/team") 
							| Our Team

				li
					span 
						a(href="/contact")
							| Contact Us
