#menu2.nav-container
	.bar.bar--sm.visible-xs
		.container
			.row(style="position:relative;")
				.float-left
					a(href='/')
						img.logo.logo-dark(alt='logo', src='img/logo/logo-gray.png')
						img.logo.logo-light(alt='logo', src='img/logo/logo-gray.png')
				.float-right.text-right
					a.hamburger-toggle(href='#', data-toggle-class='#menu1;hidden-xs')
						i.icon.icon--sm.stack-interface.stack-menu
			
	nav#menu1.bar.bar--sm.bar-1.hidden-xs
		.container
			.row(style="position:relative;")
				.float-left.hidden-sm.hidden-xs
					.bar__module
						a(href='index.html')
							img.logo.logo-dark(alt='logo', src='img/logo/logo-gray.png')
							img.logo.logo-light(alt='logo', src='img/logo/logo-gray.png')
				.float-left.hidden-xs.hidden-md.hidden-lg
					.bar__module
						a(href='index.html')
							img.logo.logo-dark(alt='logo', src='img/logo/logo-gray.png')
							img.logo.logo-light(alt='logo', src='img/logo/logo-gray.png')
					// end module
				.float-right.text-right
					.bar__module
						ul.menu-horizontal.text-left.text-center-xs
							li.dropdown
								span.dropdown__trigger Home
								.dropdown__container
									.container
										.row
											.col-sm-12.dropdown__content.dropdown__content--lg
												.pos-absolute.col-md-5.imagebg.hidden-sm.hidden-xs(data-overlay='4')
													.background-image-holder
														img(alt='background', src='img/stack/dropdown-1.jpg')
													.container.pos-vertical-center
														.row
															.col-md-8.col-md-offset-2
																img.image--xxs(alt='Logo', src='img/logo/logo-full-color.png')
																span.h2.color--white Beautiful, modular sites in moments.
																
														
												.col-md-2.col-md-offset-6.col-sm-4
													h6.megamenu-subhead.hr-blue Industries
													ul.menu-vertical
														li
															a(href='home-construction.html')
																| Construction
														li
															a(href='home-coworking.html')
																| Coworking
														li
															a(href='home-drone-photography.html')
																| Drone Photography
														li
															a(href='home-education.html')
																| Education
														li
															a(href='home-event.html')
																| Event
														li
															a(href='home-fitness.html')
																| Fitness
														li
															a(href='home-health-insurance.html')
																| Insurance
														li
															a(href='home-knowledge-base.html')
																| Knowledge Base
														li
															a(href='home-musician.html')
																| Musician
														li
															a(href='home-nonprofit.html')
																| Nonprofit
														li
															a(href='home-political.html')
																| Political
														li
															a(href='home-restaurant.html')
																| Restaurant
														li
															a(href='home-recruitment.html')
																| Recruitment
														li
															a(href='home-tourism.html')
																| Tourism
														li
															a(href='home-wedding.html')
																| Wedding
												.col-md-2.col-sm-4
													h6.megamenu-subhead.hr-blue Landing Pages
													ul.menu-vertical
														li
															a(href='home-landing-1.html')
																| Landing 1
														li
															a(href='home-landing-2.html')
																| Landing 2
														li
															a(href='home-landing-3.html')
																| Landing 3
														li
															a(href='home-landing-4.html')
																| Landing 4
														li
															a(href='home-landing-5.html')
																| Landing 5
														li
															a(href='home-landing-6.html')
																| Landing 6
														li
															a(href='home-landing-7.html')
																| Landing 7
														li
															a(href='home-landing-8.html')
																| Landing 8
														li
															a(href='home-landing-9.html')
																| Landing 9
														li
															a(href='home-landing-10.html')
																| Landing 10
														li
															a(href='home-software-1.html')
																| Software 1
														li
															a(href='home-software-2.html')
																| Software 2
														li
															a(href='home-software-3.html')
																| Software 3
												.col-md-2.col-sm-4
													h6.megamenu-subhead.hr-blue Portfolios
													ul.menu-vertical
														li
															a(href='home-portfolio-agency-1.html')
																| Agency
														li
															a(href='home-portfolio-agency-2.html')
																| Agency 2
														li
															a(href='home-portfolio-personal-1.html')
																| Personal 1
														li
															a(href='home-portfolio-photography.html')
																| Photography
														li
															a(href='home-portfolio-photography-2.html')
																| Photography 2
														li
															a(href='home-portfolio-studio-1.html')
																| Studio 1
														li
															a(href='home-portfolio-studio-2.html')
																| Studio 2
														li
															a(href='home-portfolio-video.html')
																| Video
													h6.megamenu-subhead.hr-blue Coming Soon
													ul.menu-vertical
														li
															a(href='home-coming-soon-1.html')
																| Coming Soon 1
														li
															a(href='home-coming-soon-2.html')
																| Coming Soon 2
														li
															a(href='home-coming-soon-3.html')
																| Coming Soon 3
											
							li.dropdown
								span.dropdown__trigger Products
								.dropdown__container.megamenu
									.container
										.row
											.col-sm-12.dropdown__content.dropdown__content--lg
												.pos-absolute.col-md-6.imagebg.hidden-sm.hidden-xs(data-overlay='4')
													.background-image-holder
														img(alt='background', src='img/loans/recreational-loans.jpg')
													.container.pos-vertical-center
														.row
															.col-md-8.col-md-offset-2
																h5.hr-white-after.color--white GET STARTED ON YOUR NEXT ADVENTURE TODAY
																
														
												.col-sm-6.col-md-3.col-md-offset-6
													h6.megamenu-subhead.hr-blue 
														a(href='/loans') Loans
													ul.menu-vertical
														li
															a(href='/loans/autoloans')
																| Auto Loans
														li
															a(href='/loans/recreationalloans')
																| Recreational Loans
														li
															a(href='/loans/mortgages')
																| Mortgage													
														li
															a(href='/loans/personalloans')
																| Perosnal Loans
														li
															a(href='/loans/creditcards')
																| Credit Card
														li
															a(href='/loans/solarloans')
																| Solar Loans
												.col-sm-6.col-md-3
													h6.megamenu-subhead.hr-blue Account
													ul.menu-vertical
														li
															a(href='#')
																| Checking
														li
															a(href='#')
																| Savings
														li
															a(href='#')
																| Online Billpay
														li
															a(href='/mobile')
																| Mobile Banking
														li
															a(href='#')
																| SBA Loans
														li
															a(href='#')
																| HSA Accounts
														li
															a(href='/invest')
																| Investments

							li.dropdown
								span.dropdown__trigger Services
								.dropdown__container
									.container
										.row
											.dropdown__content.col-md-2.col-sm-4
												ul.menu-vertical
													li.dropdown
														span.dropdown__trigger Articles
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='blog-articles-list.html')
																					| Simple List
																			li
																				a(href='blog-articles-list-minimal.html')
																					| Minimal List
																			li
																				a(href='blog-articles-magazine.html')
																					| Magazine
																			li
																				a(href='blog-articles-cards.html')
																					| Cards
																			li
																				a(href='blog-articles-cards-sidebar.html')
																					| Cards Sidebar
																	
													li.dropdown
														span.dropdown__trigger Post Single
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='blog-post-single.html')
																					| Standard Post
																			li
																				a(href='blog-post-audio-single.html')
																					| Audio Post
																			li
																				a(href='blog-post-image-single.html')
																					| Image Post
																			li
																				a(href='blog-post-video-single.html')
																					| Video Post
																	
							li.dropdown
								span.dropdown__trigger Invest
								.dropdown__container
									.container
										.row
											.dropdown__content.col-md-2.col-sm-4
												ul.menu-vertical
													li.dropdown
														span.dropdown__trigger Shop Standard
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='shop-2col.html')
																					| 2 Columns
																			li
																				a(href='shop-3col.html')
																					| 3 Columns
																			li
																				a(href='shop-4col.html')
																					| 4 Columns
																	
													li.dropdown
														span.dropdown__trigger Shop Tiles
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='shop-2col-tiles.html')
																					| 2 Columns
																			li
																				a(href='shop-3col-tiles.html')
																					| 3 Columns
																			li
																				a(href='shop-4col-tiles.html')
																					| 4 Columns
																	
													li.dropdown
														span.dropdown__trigger Product Singles
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='shop-product-1.html')
																					| Product Simple
																			li
																				a(href='shop-product-2.html')
																					| Product Detailed
																	
													li.separate
														a(href='shop-cart.html')
															| Cart Overview
													li
														a(href='shop-checkout.html')
															| Checkout
													li
														a(href='shop-terms.html')
															| Terms
											
							li.dropdown
								span.dropdown__trigger Learn
								.dropdown__container
									.container
										.row
											.dropdown__content.col-md-2.col-sm-4
												ul.menu-vertical
													li.dropdown
														span.dropdown__trigger Titles Outside
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-one-1col.html')
																					| One Column
																			li
																				a(href='portfolio-one-2col.html')
																					| Two Columns
																			li
																				a(href='portfolio-one-3col.html')
																					| Three Columns
																	
													li.dropdown
														span.dropdown__trigger Titles Inside
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-two-1col.html')
																					| One Column
																			li
																				a(href='portfolio-two-2col.html')
																					| Two Columns
																			li
																				a(href='portfolio-two-3col.html')
																					| Three Columns
																	
													li.dropdown
														span.dropdown__trigger Titles Hover
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-three-1col.html')
																					| One Column
																			li
																				a(href='portfolio-three-2col.html')
																					| Two Columns
																			li
																				a(href='portfolio-three-3col.html')
																					| Three Columns
																	
													li.dropdown
														span.dropdown__trigger Fullwidth
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-four-2col.html')
																					| Two Columns
																			li
																				a(href='portfolio-four-3col.html')
																					| Three Columns
																	
													li.dropdown.separate
														span.dropdown__trigger Case Studies
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-case-study-1.html')
																					| Case Study 1
																			li
																				a(href='portfolio-case-study-2.html')
																					| Case Study 2
																			li
																				a(href='portfolio-case-study-3.html')
																					| Case Study 3
																	
													li.dropdown
														span.dropdown__trigger Single Projects
														.dropdown__container
															.container
																.row
																	.dropdown__content.col-md-2.col-sm-4
																		ul.menu-vertical
																			li
																				a(href='portfolio-single-1.html')
																					| Project Single 1
																			li
																				a(href='portfolio-single-2.html')
																					| Project Single 2
																	
							li.dropdown
								span.dropdown__trigger Join
								.dropdown__container
									.container
										.row
											.dropdown__content.dropdown__content--lg.col-md-8
												.pos-absolute.col-md-5.imagebg.hidden-sm.hidden-xs(data-overlay='6')
													.background-image-holder
														img(alt='background', src='img/stack/inner-6.jpg')
													.container.pos-vertical-center
														.row
															.col-md-10.col-md-offset-1
																img.image--xxs(alt='Logo', src='img/stack/logo-light.png')
																span.h6.color--white Over 290 modular interface blocks.
																a.btn.btn--primary.type--uppercase(href='#')
																	span.btn__text
																		| Launch Builder
														
												.col-md-6.col-md-offset-6
													.row
														.col-sm-6
															ul.menu-vertical
																li
																	a(href='sections-accordions.html')
																		| Accordions
																li
																	a(href='sections-cta.html')
																		| Calls To Action
																li
																	a(href='sections-cards.html')
																		| Cards
																li
																	a(href='sections-covers.html')
																		| Covers
																li
																	a(href='sections-features-small.html')
																		| Features Small
																li
																	a(href='sections-features-large.html')
																		| Features Large
																li
																	a(href='sections-contact.html')
																		| Forms Contact
																li
																	a(href='sections-signup.html')
																		| Forms Signup
																li
																	a(href='sections-subscribe.html')
																		| Forms Subscribe
																li
																	a(href='sections-footers.html')
																		| Footers
																li
																	a(href='sections-galleries.html')
																		| Galleries
																li
																	a(href='sections-instagram.html')
																		| Instagram
																li
																	a(href='sections-maps.html')
																		| Maps
														.col-sm-6
															ul.menu-vertical
																li
																	a(href='sections-modals.html')
																		| Modals
																li
																	a(href='sections-navigation.html')
																		| Navigation Bars
																li
																	a(href='sections-notifications.html')
																		| Notifications
																li
																	a(href='sections-pricing.html')
																		| Pricing
																li
																	a(href='sections-processes.html')
																		| Processes
																li
																	a(href='sections-sliders.html')
																		| Sliders
																li
																	a(href='sections-twitter.html')
																		| Twitter
																li
																	a(href='sections-tabs.html')
																		| Tabs
																li
																	a(href='sections-team.html')
																		| Teams
																li
																	a(href='sections-testimonials.html')
																		| Testimonials
																li
																	a(href='sections-text-layouts.html')
																		| Text Layouts
																li
																	a(href='sections-titles.html')
																		| Titles
																li
																	a(href='sections-videos.html')
																		| Videos
