doctype html
html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='description of your site')
		meta(name='author', content= "author of the site")
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="icon" href="/img/logo/icon-black.png")
		link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700', rel='stylesheet')

		block head
		!= css('/')

	body
		include /partials/_header
		block content
		include /partials/_footer

		!= js('/')
		// Global Site Tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106330513-2')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments)};
			gtag('js', new Date());
			gtag('config', 'UA-106330513-2');
