@import '_settings'

normalize-css()
base()




// --- --- --- COLORS
.bg--gray
	background $gray
.bg--lightgray
	background $lightgray
.bg--green
	background $green
.color--green
	color $green
.color--gray
	color $gray
.color--lightgray
	color $lightgray
.color--white
	color $white



// --- --- --- FONTS
*
	font-family $quicksand

h1,h2,h3,h4,h5,h6
	font-weight 300
h1
	font-size 60px
h2
	font-size 50px
h3
	font-size 40px
h4
	font-size 30px
h5
	font-size 20px
h6
	font-size 16px
p,input,span,textarea
	font-size 16px
	color $gray
input, textarea
	border-radius 0px !important
a
	p
		font-weight 400
	&:hover
		text-decoration none !important
p
	a
		color $green
		&:hover
			color $lightgray
i
	color $gray
textarea
	min-height 300px






// --- --- --- BUTTONS
.btn
	border none
	color $white
	background $green
	border-radius 0px
	padding 10px 20px
	transition 0.2s
	span
		color $white
	&:hover
		transition 0.2s
		background $gray
		span
			color $white
.btn--gray
	background $gray
	span
		color $white
	&:hover
		background $lightgray
		span
			color $gray
.btn--lightgray
	background $lightgray
	span
		color $gray
	&:hover
		background $gray
		span
			color $lightgray
.btn--lightgray-green
	background $lightgray
	span
		color $gray
	&:hover
		background $green
		span
			color $lightgray
.btn--green-lightgray
	background $green
	span
		color $white
	&:hover
		background $lightgray
		span
			color $gray







// --- --- --- MISC CLASSES
canvas
	max-width 100%
	max-height 100%
.orb-container
	z-index 1
	position absolute
	top 0
	left 0
	right 0
	height 100%
	width 100%
	canvas
		position absolute
		//top -30vh
		opacity .5
		top 0
		left 0
		height 100%
		width 100%
		&:nth-child(3)
			opacity .1
[data-overlay]:before
	background $gray

#menu-overlay
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	z-index 2
section
	padding 100px 0
img
	margin-bottom 20px
hr
	border-color $green
	margin 10px 0


// --- --- --- HEADER
header
	position absolute
	z-index 3
	top 0
	right 0
	left 0
	margin auto
	max-height 200px
	img
		max-height 100%
	#menu1
		padding 10px 100px 10px 25px
		background $gray
		position absolute
		top 2vh
		right 0vw
		.dropdown__trigger
			&:after
				display none
		.dropdown-menu
			position absolute
			left -59px
			right -59px
			text-align center
			margin auto
			display none
			width auto
			background $gray
			padding 10px 10px
		@media (max-width: 768px)
			top auto
			.menu-horizontal
				text-align left
			.dropdown-menu
				opacity 1 !important
				position relative
				display block !important
				left 0
				right 0
				border-left 3px $green solid
				padding 0 0 0 10px
			.dropdown__trigger
				&:after
					display none
	a
		font-family $quicksand
		font-size 16px
		font-weight 400
		color $white
		transition 0.2s
		&:hover
			color $green
			transition 0.2s




// --- --- --- HOME PAGE
#intro-logo
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	height 20%
	max-height 300px
	z-index 1
	@media(max-width:768px)
		height auto
		max-width 90%
.radial
	i
		transition 0.2s
		color $gray
		font-size 70px
	&:hover
		i
			color $green
			transition 0.2s
// --- --- --- footer
#footer
	#footer-social
		ul
			li
				display inline-block
				margin 10px
				a
					i
						color $white
						font-size 30px
						transition 0.2s
					&:hover
						i
							color $green
							transition 0.2s

	p
		color $white
		font-size 14px
